{{define "basic"}}
<title>
  Basic NoRP Toolkit DiceSpy template
</title>
<style>
 content {
     background: #fff;
     display: block;
 }
 .player {
     color: green;
 }
 .description {
     font-style: italic;
 }
 .result {
     color: blue;
 }
 .total {
     color: green;
     font-weight: bold;
 }
 .dice {
    width: 25px;
    margin-bottom: -7px;
 }
 .avatar {
    width: 25px;
    margin-bottom: -7px;
 }
</style>
<script src="/templates/updater.js"></script>

<content>
  {{if .Rolls}}
    <ul>
      {{range $index, $element := .Rolls}}
      <li>
        <img alt="" src="{{.Avatar}}" class="avatar"/>
        <span class="player">{{.Player}}</span>: <br>
        <img alt="" src="/templates/dice.png" class="dice"/>
        <span class="description">{{.Skill}}</span> <br>
        <b>(</b>
        {{$results := .Results}}
        {{ range $index, $element := .Results}}
            {{if $index}},{{end}}
            <span class="result">{{$element.V}}</span>
        {{end}}
        <b>)</b> {{.Mod}}
        = <span class="total">{{.Total}}</span>
      </li>
      {{end}}
    </ul>
  {{else}}
    Please roll some dices.
  {{end}}
</content>

{{end}}
